<h1>Search results for "<%= @query %>"</h1>

<h3>Words</h3>
<% if @words.blank? %>
  <p>There are no words that match your search.</p>
<% else %>
  <ul class="search-results">
    <% @words.each do |word| %>
      <li>
        <%= link_to word.name, word %>
      </li>
    <% end %>
  </ul>
<% end %>
