body {
  font-family: $base-font;
  font-size: $base-font-size;
  color: $base-font-color;
  line-height: $base-line-height;
}

// headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  color: $heading-color;
}
h1 {
  text-align: center;
}
h4,
h5,
h6 {
  margin: 0;
}


// anchors
a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-color-hover;
  }
  &:visited {
    color: $link-color-visited;
  }
}
