// Palette
$gray: gray;
$light-gray: lightgray;
$dark-gray: #555;
$black: #333;
$primary-color: gray;
$secondary-color: gray;
$secondary-color-dark: darken($secondary-color, 20%);
$action-color: gray;


// Typography
@import url('https://fonts.googleapis.com/css?family=Quicksand|Open+Sans');

$base-font: "Open Sans";
$brand-font: "Quicksand";
$heading-font: $brand-font;

$base-font-color: $black;
$base-font-size: 16px;
$base-line-height: 1.4;

$small-font-size: $base-font-size * 0.7;

$link-color: $secondary-color;
$link-color-dark: $secondary-color-dark;

// Spacing
$line-height-space: $base-line-height + 0rem;
$base-gap: 1rem;
$small-gap: 0.5rem;

// Forms
$base-input-border: 1px solid $gray;
$input-border-focus: $secondary-color-dark;
