<fieldset class="tag-fields">
  <legend>Tags</legend>
  <%= f.fields_for :tags do |tf| %>
    <div class="form_field">
      <%= tf.text_field :name %>
      <% unless tf.object.nil? || tf.object.new_record? %>
        <%= tf.check_box :_destroy %>
        <%= tf.label :_destroy, "Remove tag" %>
      <% end %>
    </div>
  <% end %>
</fieldset>
