.definition {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "definition"
    "example"
    "meta"
    "votes";
  grid-gap: $base-gap;
  margin: 2rem 0;
  background: $lighter-gray;
  padding: $base-gap;
}

.def-details {
  grid-area: definition;
}

.def-example {
  grid-area: example;
  color: $color1;
  font-style: italic;
}

.def-meta {
  grid-area: meta;
  font-size: $small-font-size;
}

.def-author {
}

.def-flag {
}

.def-votes {
  grid-area: votes;
}
