.definition {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "flag"
    "definition"
    "example"
    "author"
    "votes";
  grid-gap: $small-gap;
}

.def-flag {
  grid-area: flag;
}

.def-details {
  grid-area: definition;
}
.def-example {
  grid-area: example;
}
.def-author {
  grid-area: author;
}
.def-votes {
  grid-area: votes;
}
