.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr minmax(100px, 600px) 1fr;
  grid-template-rows: max-content auto max-content;
  grid-template-areas: "header header header"
                       "... main ..."
                       "footer footer footer";
  grid-gap: 1rem;
  padding: 1rem;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

header,
footer {
  background: $color1;
  padding: $small-gap;
  a,
  a:hover,
  a:visited {
    color: $light-gray;
  }
}
