nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

@media (min-width: $medium-screen-min) {

  nav {
    grid-area: nav;
    ul {
      text-align: right;
      li {
        display: inline-block;
        margin: 0 $small-gap;
      }
    }
  }

}
