.splash {
  background: $color1;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  text-align: center;
  color: $color1-lightest;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "name"
    "search"
    "links";
}

.splash-heading {
  grid-area: name;
  h1 {
    color: $color2-dark;
    font-size: 3rem;
    margin-bottom: 0;
  }
  span {
    color: $color2;
  }
  h2 {
    color: $color2-dark;
    margin-top: 0;
  }
}

.splash-search {
  grid-area: search;
  font-size: 1.5rem;
  #query {
    max-width: 90%;
    color: $color1;
  }
}

.splash-menu {
  grid-area: links;
  align-self: end;
  ul {
    @include unstyled-list;
  }
}

.triangle-down {
  height: 0;
  width: 0;
  border-top: 20px solid $color2;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  margin: $small-gap auto;
  @include bounce;
  animation-delay: 3s;
  animation-duration: 1s;
  animation-fill-mode: both;
}
