// WORD LISTS
.words-list-tabs {
  @include unstyled-list;
  margin-bottom: $base-gap;
  li {
    display: inline-block;
  }
}

.words-list {
  @include unstyled-list;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: $small-gap;
  li {
    background: $gray;
    padding: $small-gap;
    text-align: center;
    &:nth-child(2n) {
      background: darken($light-gray, 10%);
    }
    &:nth-child(3n) {
      background: adjust-hue($light-gray, -80);
    }
    &:nth-child(5n) {
      background: adjust-hue($gray, -40);
    }
    &:nth-child(7n) {
      background: transparentize($light-gray, 0.12);
    }
  }
}


// WORD PAGES
.word-page {

}

.word-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "name"
    "tags"
    "meta"
    "votes"
}

.word-name {
  grid-area: name;
}

.word-tags {
  grid-area: tags;
  text-align: center;
  text-transform: uppercase;
}

.word-meta {
  grid-area: meta;
  text-align: center;
  font-size: $small-font-size;
}

.word-flag {
  display: inline-block;
}

.word-author {
  display: inline-block;
}

.word-votes {
  grid-area: votes;
  text-align: center;
}

.word-related {
  grid-area: related;
  h3 {
    margin-bottom:0;
  }
  a {
    margin-right: $base-gap;
  }
}

.word-definitions {
  grid-area: definitions;
}

.definition-form {
  grid-area: form;
}
