.word-page {
  
}

.word-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "name"
    "tags"
    "meta"
    "votes"
}

.word-name {
  grid-area: name;
}

.word-tags {
  grid-area: tags;
  text-align: center;
  text-transform: uppercase;
}

.word-meta {
  grid-area: meta;
  text-align: center;
  font-size: $small-font-size;
}

.word-flag {
  display: inline-block;
}

.word-author {
  display: inline-block;
}

.word-votes {
  grid-area: votes;
  text-align: center;
}

.word-related {
  grid-area: related;
}

.word-definitions {
  grid-area: definitions;
}

.definition-form {
  grid-area: form;
}
